fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-multipart
pandas
numpy
PyJWT
cryptography
passlib[bcrypt]
bcrypt==4.0.1
python-dateutil
email-validator
slowapi
python-dotenv
alembic
redis
python-jose[cryptography]